/* @import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=VT323&display=swap'); */

:root {
    --accent: #d81c24;
    --base: #860c08;
    --lightgray: #f8f8f8;
    --darkgray: #777777;
}

body {
    /* font-family: "Times New Roman", Times, serif; */
    /* font-family: "STIX Two Text", serif; */
    background-color: var(--lightgray);
}

.small-caps{
    font-variant: small-caps;
}

.navbar {
    background: var(--base);
}

.navbar-brand {
    font-family: "Times New Roman", Times, serif;
}

.navbar-nav a:hover{
    color: lightgray !important
}

/* banner with bg image */
.hero-section {
    position: relative;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

/* dark overlay */
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

/* ensures the text above the overlay */
.hero-content {
    position: relative;
    z-index: 1;
}

.card {
    border-radius: 20px;
    object-fit: cover;
    border: var(--darkgray) dashed 2px;
}
.card-subtitle {
    color: var(--darkgray)
}
.card-img-top {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 200px; /* Set a consistent height */
    object-fit: cover; /* Ensures images are cropped properly */
}
.card-img-right {
    border-radius: 0px 20px 20px 0px;
    width: 350px; 
    height: auto;
    max-height: 350px; 
    object-fit: cover; 
    padding: 10px;
    
}

#popular-items .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures even spacing */
    flex-grow: 1; /* Expands to fill the available space */
}

#results .card {
    min-height: 300px;
    max-height: fit-content;;
    flex-grow: 1;

}

.larger {
    font-size: 1.5em;
}

.btn:hover{
    color: white;
    background-color: var(--base);
}
.btn{
    color: white;
    background-color: var(--accent);
}

#discard-btn{
    background-color: var(--darkgray);
}

a{
    color: var(--accent);
}
a:hover {
    color: var(--base);
}

.hero-section a{
    color: white;
}
.hero-section a:hover {
    color: lightgray;
    text-decoration: none;
}

.one-column .card img {
    width: auto;
    max-width: 75%;
}

.two-column .card img {
    width: auto;
    max-height: 100%;
}

.card p {
    margin-bottom: 0.5em;
}
form .row{
    margin-bottom: 0.75em;
 }
.form-label {
    margin-bottom: 0.25em;
    font-weight: bold;
}

.highlight { 
    background-color: rgb(255, 234, 159); 
    font-weight: bold;
}

.bi-info-circle{
    color: var(--darkgray)
}
